/* Standard overview styles */
* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background: -moz-linear-gradient(
		120deg,
		rgba(114, 175, 211, 1) 15%,
		rgb(38, 170, 132) 50%,
		rgba(55, 236, 161, 1) 75%,
		rgba(114, 175, 211, 1) 100%
	);
	background: -webkit-linear-gradient(
		120deg,
		rgba(114, 175, 211, 1) 15%,
		rgba(38, 170, 132) 50%,
		rgba(55, 236, 161, 1) 75%,
		rgba(114, 175, 211, 1) 100%
	);
	background: linear-gradient(
		120deg,
		rgba(114, 175, 211, 1) 15%,
		rgba(38, 170, 132) 50%,
		rgba(55, 236, 161, 1) 75%,
		rgba(114, 175, 211, 1) 100%
	);
	color: white;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

a,
a:visited {
	color: white;
}
a:hover {
	transform: scale(1.15);
}
li {
	list-style: none;
}

/*Nav Styling*/
nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 10%;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.35);
	border-bottom: 5px solid white;
}
nav > * {
	color: white;
	font-size: clamp(1.75rem, 2.1vw, 2.1rem);
}

.navStyle:hover {
	font-weight: bold;
}
.navStyle:active {
	color: gray;
}
.navLinks {
	width: min(150px, 20vw);

	gap: 3vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
}
/* Home Page Styling */
.home > * {
	background: transparent;
	margin: 0;
	overflow-y:auto;
}

.welcome_Banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	width: 100%;
	height: clamp(350px, 30vw, 600px);
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.35);
}
.homeImage {
	width: 100%;
	height: auto;
}
.about_Msg {
	width: 100%;
	padding: 2.5vw;
	background: rgba(0, 0, 0, 0.35);
}

.to_Link {
	width: clamp(200px, 30vw, 450px);
	height: clamp(100px, 15vw, 225px);
	color: white;
	background: rgba(0, 0, 0, 0.35);
	font-size: clamp(1.75rem, 3vw, 3rem);

	margin: 1rem;
	border: 5px solid white;
	border-radius: 20px;
}

.to_Link:hover {
	background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.to_Link:active {
	transform: scale(1.1);
	color: gray;
}
/* Shop page styling */
.shop {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;

	background: transparent;
	align-items: center;
}
.allItems {
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 20px rgb(51, 51, 51);
	margin: 5vh;
	font-size: 1.5rem;
	width: clamp(200px, 25vw, 600px);
}
.allItems:hover {
	transform: scale(1.05);
	background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.link {
	color: white;
	text-decoration: none;
	display: flex;
	height: auto;
	width: clamp(200px, 25vw, 600px);

	align-items: center;
	justify-content: center;
}
/*Individual item styling*/
.item_Container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.details {
	font-size: 3rem;
	border-radius: 0 0 10px 10px;

	box-shadow: 10px 5px 20px rgb(51, 51, 51);

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	align-items: center;
	width: 75%;
}
.details > * {
	font-size: 75%;
	width: max(150px, 100%);
}
.item_Type {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
}
/* About Page styling */
.about > * {
	border-bottom: 5px solid white;
	background: rgba(0, 0, 0, 0.35);
	font-size: clamp(2rem, 4vw, 3rem);
	line-height: 105%;

}

.about > * > * {
	font-size: 65%;
	text-decoration: none;

	margin: 1rem 2vw;
}
.about > * + * {
	border-top: 5px solid white;
	margin: 1rem 0;
}

.icon_Container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 4rem;
}
.icon_Container > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}


.icon {
	color: white;
	transform: scale(3);
	margin: 2rem 0;
}
.icon:hover {
	transform: scale(3.2);
}

.inlineLink {
	color: white;
	background: rgba(0, 0, 0, 0.35);
	padding: 0.1rem;
	border-radius: 10px;
}
.inlineLink:hover {
	outline: 2px solid white;
	transform:scale(1.2);
}
.resources {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content:center;
	
}